
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body{
    background-color: white;
    font-family: Georgia, sans-serif;
    font-weight: normal;

    line-height: 1.2;
}

.quiz-container{
    width: 50%;
    background-color:;
    margin: 0 auto;
}

.quiz-container p{
    position: relative;
    top: 50%;
    font-size: 1em;
    text-align: center;
    color: black;
}

.cardDiv{
    width: 40%;
   margin: 0 auto;
}

#introductory-page{
    background-color: red;
    width: 100%;
    height: 100vh;
}
h1{
    position: relative;
    top: 45%;
    text-align: center;
    color: black;
    
}
p{
font-size:1em;
}

#score-container h3{
    text-align: center;  
    position: relative;
    top: .4em;  
    color: black;  
    
}

#score-container{
    position: fixed;
    top: 6em;
    left: 30%;
    width: 8em;
    height: 8em;
    background-color: rgb(173, 194, 211);
    border-radius: 0%;
    z-index: 2;
    padding: 1em;
    opacity: .8;
}

h3{ font-size: 1.5em;
    color: black;
    text-align: left;
    font-weight: normal;
    margin-bottom:.8em;
    margin-top: .8em;
}



    img {
    width: 100%;
}


button{
    width: 100%;
    height: 2em;
    float: left;
    font-size: 1.45em;
    font: Georgia;
    align:left;
    color: black;
    background-color: gray;
   margin: 0 auto;
    border-radius: 5px;
    margin-top: .2em;
     background-color: rgb(173, 194, 211);
    
}

button:hover{
    transition: background-color .15s, font-size .15s;
    cursor: pointer;
   background-color: rgb(211,211,211);
}

.answerKey{
  font-size: 1em;
  color: black;
}

.score{
    color: black;
    padding: -1em;
}
.answer{
 color: red;   
}

#introduction{
border-radius: 50%;
height: 10em;
width: 10em;
font-size: 1em;
position: relative;
left: 40%;
top: 60%;
}


